

@media (prefers-color-scheme: dark) {
  html:not(.dark) body {
    background-color: white !important;
    color: black !important;
  }
}

@import "tailwindcss";

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1.5s ease-out forwards;
  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}
